---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import MobileMenu from "../components/base/MobileMenu.astro";
import Sidebar from "../components/base/Sidebar.astro";
import LayoutWrapper from "../components/base/LayoutWrapper.astro";
import Footer from "../components/base/Footer.astro";
import { Image } from "astro:assets";
import heroImage from "../../src/assets/images/hero-image.jpeg";
---

<Layout
  title="My Page Title"
  description="This is a description of my awesome page"
>
  <LayoutWrapper>
    <MobileMenu />
    <Sidebar />

    <main>
      <div class="lg:ml-72 mt-16 lg:mt-0 py-6 pr-6">
        <h1 class="text-6xl font-bold mb-4">Welcome to my business site</h1>
        <div class="space-y-4">
          <p class="text-gray-700">
            Paragraph 1: Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
            Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
          <p class="text-gray-700">
            Paragraph 1: Lorem ipsum dolor sit amet, consectetur adipiscing
            elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.
            Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
          <div class="relative overflow-hidden rounded-lg">
            <!-- Optional blur placeholder -->
            <div class="absolute inset-0 blur-lg scale-110">
              <Image
                src={heroImage}
                alt=""
                width={40}
                class="w-full h-full object-cover"
              />
            </div>

            <!-- Main image -->
            <Image
              src={heroImage}
              alt="Hero image description"
              width={800}
              height={600}
              format="webp"
              quality={80}
              loading="lazy"
              decoding="async"
              class="relative z-10 w-full h-full object-cover"
            />
          </div>
        </div>
        <Footer />
      </div>
    </main>
  </LayoutWrapper>
</Layout>
