<div
  class="lg:hidden fixed top-0 right-0 p-4 bg-blue-500 w-full flex justify-between items-center"
>
  <div class="text-white text-xl">LOGO</div>
  <button
    @click="isSidebarOpen = true"
    class="text-white text-2xl focus:outline-none"
  >
    &#9776; MENU
  </button>
</div>
